## Data Types Programmes

* **Data Types**
* **Type Conversion**
* **I/O and import**
* **Operators**
* **Namespace and Scope**


### Python Numbers

In [4]:
# Python Numbers 

a = 5

print(a, "is of type", type(a))

b = 6.5

print(b, "is of type", type(b))

c = True

print(c, "is of type", type(c) )

d = 1 + 2j

print(d, "is of type", type(d))

5 is of type <class 'int'>
6.5 is of type <class 'float'>
True is of type <class 'bool'>
(1+2j) is of type <class 'complex'>

### Python List

In [7]:
# Python List 

a = [1,2,3.4,'Mukund']
print(a)
print(type(a))

[1, 2, 3.4, 'Mukund']
<class 'list'>

In [42]:
a = [1,2,3,4,5]

# a = [start:stop:step]

# Normal one by one print individual 
 
print('a[0]=', a[0])
print('a[1]=', a[1])
print('a[2]=', a[2])
print('a[3]=', a[3])
print('a[4]=', a[4])

# Normal one by one print individual in reverse order

print()

print('a[-1]=', a[-1])
print('a[-2]=', a[-2])
print('a[-3]=', a[-3])
print('a[-4]=', a[-4])
print('a[-5]=', a[-5])

#[1::] means it will remove the first element it removed number 1 
# and printed rest.

print()

print('a[::]=', a[::])
print('a[1::]=', a[1::])
print('a[2::]=', a[2::])
print('a[3::]=', a[3::])
print('a[4::]=', a[4::])


print()

print('a[::]=', a[::])
print('a[-1::]=', a[-1::])
print('a[-2::]=', a[-2::])
print('a[-3::]=', a[-3::])
print('a[-4::]=', a[-4::])
print('a[-4::]=', a[-5::])

#[:1:] means it will add the first element so in this case it is num 1.

print()

print('a[::]=', a[::])
print('a[:1:]=', a[:1:])
print('a[:1:]=', a[:2:])
print('a[:1:]=', a[:3:])
print('a[:1:]=', a[:4:])
print('a[:1:]=', a[:5:])

#[::1] means it will jump this much number.

print()

print('a[::]=', a[::])
print('a[::1]=', a[::1])
print('a[::2]=', a[::2])
print('a[::3]=', a[::3])
print('a[::4]=', a[::4])
print('a[::4]=', a[::5])


# Reverse of above

print()

print('a[::]=', a[::])
print('a[::-1]=', a[::-1])
print('a[::-2]=', a[::-2])
print('a[::-3]=', a[::-3])
print('a[::-4]=', a[::-4])
print('a[::-5]=', a[::-5])


print()

print('a[0:1:2]=', a[0:1:2])

a[0]= 1
a[1]= 2
a[2]= 3
a[3]= 4
a[4]= 5

a[-1]= 5
a[-2]= 4
a[-3]= 3
a[-4]= 2
a[-5]= 1

a[::]= [1, 2, 3, 4, 5]
a[1::]= [2, 3, 4, 5]
a[2::]= [3, 4, 5]
a[3::]= [4, 5]
a[4::]= [5]

a[::]= [1, 2, 3, 4, 5]
a[-1::]= [5]
a[-2::]= [4, 5]
a[-3::]= [3, 4, 5]
a[-4::]= [2, 3, 4, 5]
a[-4::]= [1, 2, 3, 4, 5]

a[::]= [1, 2, 3, 4, 5]
a[:1:]= [1]
a[:1:]= [1, 2]
a[:1:]= [1, 2, 3]
a[:1:]= [1, 2, 3, 4]
a[:1:]= [1, 2, 3, 4, 5]

a[::]= [1, 2, 3, 4, 5]
a[::1]= [1, 2, 3, 4, 5]
a[::2]= [1, 3, 5]
a[::3]= [1, 4]
a[::4]= [1, 5]
a[::4]= [1]

a[::]= [1, 2, 3, 4, 5]
a[::-1]= [5, 4, 3, 2, 1]
a[::-2]= [5, 3, 1]
a[::-3]= [5, 2]
a[::-4]= [5, 1]
a[::-5]= [5]

a[0:1:2]= [1]

In [62]:
a = [1,2,3,4,5]
print(a)
a [2] = 8
print(a)
a [0:1:2] = [10]
print(a)

[1, 2, 3, 4, 5]
[1, 2, 8, 4, 5]
[10, 2, 8, 4, 5]

### Python Tuple

In [44]:
t = (4,4.5,'Mukund')
print(t)
print(type(t))

(4, 4.5, 'Mukund')
<class 'tuple'>

In [49]:
a = (1,2,3.4,'Shyam')
print(a)
a [3] = 'Mukund'
print(a)

(1, 2, 3.4, 'Shyam')

TypeError: 'tuple' object does not support item assignment

In [65]:
a = (1,2,3,4,5)
print(a[0])
print(a[::])
print(a[::-1])

1
(1, 2, 3, 4, 5)
(5, 4, 3, 2, 1)

### Python String

In [78]:
s = 'I am Good Boy'
print(s)
print(type(s))

I am Good Boy
<class 'str'>

In [81]:
s = 'I am 20, 20.34 Boy'
print(s)

I am 20, 20.34 Boy

In [67]:
print(s[3])

m

In [85]:
s[4] = "30"
print(s)

TypeError: 'str' object does not support item assignment

In [68]:
print(s[0:2:3])

I

In [70]:
print(s[::-1])

yoB dooG ma I

In [76]:
print(s[3:7:2]) # [start:stop:step]

mG

### Python Set

In [79]:
a = {4,5,3}
print(a)
print(type(a))

{3, 4, 5}
<class 'set'>

In [82]:
a = {3,4.5,'Mukund'}
print("a = ", a)

a =  {3, 4.5, 'Mukund'}

In [83]:
a = {2,3,3,4,5,2}
print(a)

{2, 3, 4, 5}

In [84]:
# slicing operator [] does not work.

a = {2,3,3,4,5,2}
print(a[0])

TypeError: 'set' object is not subscriptable

In [86]:
# Not iterable
 
a = {2,3,3,4,5,2}
a[0] = 20
print(a)

TypeError: 'set' object does not support item assignment

### Python Dictionary

In [87]:
d = {1:'Mukund', 'Marks': 50}
print(d)
print(type(d))

{1: 'Mukund', 'Marks': 50}
<class 'dict'>

In [103]:
dict1 = {1:'Eldeco', 'Population': 100}
print("dict1['Key']=",dict1[1])
print("dict1['Value']=",dict1['Population'])

dict1['Key']= Eldeco
dict1['Value']= 100

### Conversion between data types

In [106]:
float(5)

5.0

In [107]:
int(10.2)

10

In [108]:
int(-10.3)

-10

In [110]:
float('2.3')

2.3

In [111]:
str(23)

'23'

In [112]:
set([1,3,4])

{1, 3, 4}

In [113]:
tuple([1,2,3])

(1, 2, 3)

In [114]:
dict([[1,2],[3,4]])

{1: 2, 3: 4}

In [115]:
list({1,2,3,4})

[1, 2, 3, 4]

In [116]:
dict({{1,2},{3,4}})

TypeError: unhashable type: 'set'

## Type Conversion

### Implicit Type Conversion

- In Implicit type conversion, Python automatically converts one data type to another data type. This process doesn't need any user involvement.

In [117]:
num_int = 123
num_float = 1.23

new_num = num_int + num_float

print('data type of num_int', type(num_int))
print('data type of num_float', type(num_float))

print()

print('Value of new_num', new_num)
print('Data Type of new_num', type(new_num))

data type of num_int <class 'int'>
data type of num_float <class 'float'>

Value of new_num 124.23
Data Type of new_num <class 'float'>

In [119]:
num_int = 123
num_string = "Mukund"

new_num = num_int + num_string

print('data type of num_int', type(num_int))
print('data type of num_float', type(num_string))

print()

print('Value of new_num', new_num)
print('Data Type of new_num', type(new_num))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Explicit Type Conversion

- In Explicit Type Conversion, users convert the data type of an object to required data type. We use the predefined functions like int(), float(), str(), etc to perform explicit type conversion.

- This type of conversion is also called **typecasting** because the user casts (changes) the data type of the objects.

In [121]:
num_int = 123
num_string = '123'

print('Data type of num_int:', type(num_int))
print('Data type of num_string:', type(num_string))

num_string = int(num_string)
print()

print('Data type of num_string after Conversion:', type(num_string))
print()
num_sum = num_string + num_int
print()
print('Sum of num_int and num_str:', num_sum)
print("Data type of the sum:", type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_string: <class 'str'>

Data type of num_string after Conversion: <class 'int'>


Sum of num_int and num_str: 246
Data type of the sum: <class 'int'>

## Input, Output and Import

- Two built-in functions print() and input() to perform I/O task in Python. Also, you will learn to import modules and use them in your program.

### Output

In [122]:
print("This is testing of Print Statement ")

This is testing of Print Statement

In [123]:
a = 5

print("A value is = ", a)

A value is =  5

In [126]:
print(1,2,3,4)
print(1,2,3,4, sep='*')
print(1,2,3,4,5, sep='*', end='&')

1 2 3 4
1*2*3*4
1*2*3*4*5&

### Output Formating

In [127]:
x = 10
y = 20

print("This value of x is {} amd value of y is {}" .format(x,y))

This value of x is 10 amd value of y is 20

In [128]:
print("I love {0} and {1}" .format('bread', 'butter'))

print("I love {1} and {0}" .format('bread', 'butter'))

I love bread and butter
I love butter and bread

In [129]:
print("Hello {name}, {greeting}" .format(greeting = "Morning", name="Mukund"))

Hello Mukund, Morning

In [131]:
x = 12.345334

print("The value of x is %3.2f" %x)

print("The value of x is %3.4f" %x)

The value of x is 12.35
The value of x is 12.3453

### Input

In [133]:
num = input("Please enter a number: ")
print("Entered number is: ", num)

Please enter a number: 34
Entered number is:  34

In [136]:
num = int(input("Please enter a number: "))
print("Entered integer number is: ", num)

Please enter a number: 3.4

ValueError: invalid literal for int() with base 10: '3.4'

In [137]:
num = int(input("Please enter a number: "))
print("Entered integer number is: ", num)

Please enter a number: 34
Entered integer number is:  34

In [138]:
num = float(input("Please enter a number: "))
print("Entered Float number is: ", num)

Please enter a number: 3
Entered Float number is:  3.0

In [139]:
num = float(input("Please enter a number: "))
print("Entered Float number is: ", num)

Please enter a number: 34.5
Entered Float number is:  34.5

### Import

In [140]:
import math

In [141]:
print(math.pi)

3.141592653589793

In [142]:
from math import pi

In [143]:
pi

3.141592653589793

In [144]:
import sys

In [145]:
sys.path

['/Users/mukundpandey/Personal/Study/Python/Practice_For_Interview/Python_Final_Practice/Introduction',
 '/opt/anaconda3/lib/python38.zip',
 '/opt/anaconda3/lib/python3.8',
 '/opt/anaconda3/lib/python3.8/lib-dynload',
 '',
 '/Users/mukundpandey/.local/lib/python3.8/site-packages',
 '/opt/anaconda3/lib/python3.8/site-packages',
 '/opt/anaconda3/lib/python3.8/site-packages/aeosa',
 '/opt/anaconda3/lib/python3.8/site-packages/IPython/extensions',
 '/Users/mukundpandey/.ipython']