## Data Types Programmes

* **Data Types**
* **Type Conversion**
* **I/O and import**
* **Operators**
* **Namespace and Scope**


### Python Numbers

In [4]:
# Python Numbers 

a = 5

print(a, "is of type", type(a))

b = 6.5

print(b, "is of type", type(b))

c = True

print(c, "is of type", type(c) )

d = 1 + 2j

print(d, "is of type", type(d))

5 is of type <class 'int'>
6.5 is of type <class 'float'>
True is of type <class 'bool'>
(1+2j) is of type <class 'complex'>

### Python List

In [7]:
# Python List 

a = [1,2,3.4,'Mukund']
print(a)
print(type(a))

[1, 2, 3.4, 'Mukund']
<class 'list'>

In [42]:
a = [1,2,3,4,5]

# a = [start:stop:step]

# Normal one by one print individual 
 
print('a[0]=', a[0])
print('a[1]=', a[1])
print('a[2]=', a[2])
print('a[3]=', a[3])
print('a[4]=', a[4])

# Normal one by one print individual in reverse order

print()

print('a[-1]=', a[-1])
print('a[-2]=', a[-2])
print('a[-3]=', a[-3])
print('a[-4]=', a[-4])
print('a[-5]=', a[-5])

#[1::] means it will remove the first element it removed number 1 
# and printed rest.

print()

print('a[::]=', a[::])
print('a[1::]=', a[1::])
print('a[2::]=', a[2::])
print('a[3::]=', a[3::])
print('a[4::]=', a[4::])


print()

print('a[::]=', a[::])
print('a[-1::]=', a[-1::])
print('a[-2::]=', a[-2::])
print('a[-3::]=', a[-3::])
print('a[-4::]=', a[-4::])
print('a[-4::]=', a[-5::])

#[:1:] means it will add the first element so in this case it is num 1.

print()

print('a[::]=', a[::])
print('a[:1:]=', a[:1:])
print('a[:1:]=', a[:2:])
print('a[:1:]=', a[:3:])
print('a[:1:]=', a[:4:])
print('a[:1:]=', a[:5:])

#[::1] means it will jump this much number.

print()

print('a[::]=', a[::])
print('a[::1]=', a[::1])
print('a[::2]=', a[::2])
print('a[::3]=', a[::3])
print('a[::4]=', a[::4])
print('a[::4]=', a[::5])


# Reverse of above

print()

print('a[::]=', a[::])
print('a[::-1]=', a[::-1])
print('a[::-2]=', a[::-2])
print('a[::-3]=', a[::-3])
print('a[::-4]=', a[::-4])
print('a[::-5]=', a[::-5])


print()

print('a[0:1:2]=', a[0:1:2])

a[0]= 1
a[1]= 2
a[2]= 3
a[3]= 4
a[4]= 5

a[-1]= 5
a[-2]= 4
a[-3]= 3
a[-4]= 2
a[-5]= 1

a[::]= [1, 2, 3, 4, 5]
a[1::]= [2, 3, 4, 5]
a[2::]= [3, 4, 5]
a[3::]= [4, 5]
a[4::]= [5]

a[::]= [1, 2, 3, 4, 5]
a[-1::]= [5]
a[-2::]= [4, 5]
a[-3::]= [3, 4, 5]
a[-4::]= [2, 3, 4, 5]
a[-4::]= [1, 2, 3, 4, 5]

a[::]= [1, 2, 3, 4, 5]
a[:1:]= [1]
a[:1:]= [1, 2]
a[:1:]= [1, 2, 3]
a[:1:]= [1, 2, 3, 4]
a[:1:]= [1, 2, 3, 4, 5]

a[::]= [1, 2, 3, 4, 5]
a[::1]= [1, 2, 3, 4, 5]
a[::2]= [1, 3, 5]
a[::3]= [1, 4]
a[::4]= [1, 5]
a[::4]= [1]

a[::]= [1, 2, 3, 4, 5]
a[::-1]= [5, 4, 3, 2, 1]
a[::-2]= [5, 3, 1]
a[::-3]= [5, 2]
a[::-4]= [5, 1]
a[::-5]= [5]

a[0:1:2]= [1]

In [62]:
a = [1,2,3,4,5]
print(a)
a [2] = 8
print(a)
a [0:1:2] = [10]
print(a)

[1, 2, 3, 4, 5]
[1, 2, 8, 4, 5]
[10, 2, 8, 4, 5]

### Python Tuple

In [44]:
t = (4,4.5,'Mukund')
print(t)
print(type(t))

(4, 4.5, 'Mukund')
<class 'tuple'>

In [49]:
a = (1,2,3.4,'Shyam')
print(a)
a [3] = 'Mukund'
print(a)

(1, 2, 3.4, 'Shyam')

TypeError: 'tuple' object does not support item assignment

In [65]:
a = (1,2,3,4,5)
print(a[0])
print(a[::])
print(a[::-1])

1
(1, 2, 3, 4, 5)
(5, 4, 3, 2, 1)

### Python String

In [78]:
s = 'I am Good Boy'
print(s)
print(type(s))

I am Good Boy
<class 'str'>

In [81]:
s = 'I am 20, 20.34 Boy'
print(s)

I am 20, 20.34 Boy

In [67]:
print(s[3])

m

In [85]:
s[4] = "30"
print(s)

TypeError: 'str' object does not support item assignment

In [68]:
print(s[0:2:3])

I

In [70]:
print(s[::-1])

yoB dooG ma I

In [76]:
print(s[3:7:2]) # [start:stop:step]

mG

### Python Set

In [79]:
a = {4,5,3}
print(a)
print(type(a))

{3, 4, 5}
<class 'set'>

In [82]:
a = {3,4.5,'Mukund'}
print("a = ", a)

a =  {3, 4.5, 'Mukund'}

In [83]:
a = {2,3,3,4,5,2}
print(a)

{2, 3, 4, 5}

In [84]:
# slicing operator [] does not work.

a = {2,3,3,4,5,2}
print(a[0])

TypeError: 'set' object is not subscriptable

In [86]:
# Not iterable
 
a = {2,3,3,4,5,2}
a[0] = 20
print(a)

TypeError: 'set' object does not support item assignment

### Python Dictionary

In [87]:
d = {1:'Mukund', 'Marks': 50}
print(d)
print(type(d))

{1: 'Mukund', 'Marks': 50}
<class 'dict'>

In [103]:
dict1 = {1:'Eldeco', 'Population': 100}
print("dict1['Key']=",dict1[1])
print("dict1['Value']=",dict1['Population'])

dict1['Key']= Eldeco
dict1['Value']= 100

### Conversion between data types

In [106]:
float(5)

5.0

In [107]:
int(10.2)

10

In [1]:
int("2")

2

In [108]:
int(-10.3)

-10

In [110]:
float('2.3')

2.3

In [111]:
str(23)

'23'

In [112]:
set([1,3,4])

{1, 3, 4}

In [113]:
tuple([1,2,3])

(1, 2, 3)

In [114]:
dict([[1,2],[3,4]])

{1: 2, 3: 4}

In [115]:
list({1,2,3,4})

[1, 2, 3, 4]

In [116]:
dict({{1,2},{3,4}})

TypeError: unhashable type: 'set'

## Type Conversion

### Implicit Type Conversion

- In Implicit type conversion, Python automatically converts one data type to another data type. This process doesn't need any user involvement.

In [117]:
num_int = 123
num_float = 1.23

new_num = num_int + num_float

print('data type of num_int', type(num_int))
print('data type of num_float', type(num_float))

print()

print('Value of new_num', new_num)
print('Data Type of new_num', type(new_num))

data type of num_int <class 'int'>
data type of num_float <class 'float'>

Value of new_num 124.23
Data Type of new_num <class 'float'>

In [119]:
num_int = 123
num_string = "Mukund"

new_num = num_int + num_string

print('data type of num_int', type(num_int))
print('data type of num_float', type(num_string))

print()

print('Value of new_num', new_num)
print('Data Type of new_num', type(new_num))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Explicit Type Conversion

- In Explicit Type Conversion, users convert the data type of an object to required data type. We use the predefined functions like int(), float(), str(), etc to perform explicit type conversion.

- This type of conversion is also called **typecasting** because the user casts (changes) the data type of the objects.

In [121]:
num_int = 123
num_string = '123'

print('Data type of num_int:', type(num_int))
print('Data type of num_string:', type(num_string))

num_string = int(num_string)
print()

print('Data type of num_string after Conversion:', type(num_string))
print()
num_sum = num_string + num_int
print()
print('Sum of num_int and num_str:', num_sum)
print("Data type of the sum:", type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_string: <class 'str'>

Data type of num_string after Conversion: <class 'int'>


Sum of num_int and num_str: 246
Data type of the sum: <class 'int'>

## Input, Output and Import

- Two built-in functions print() and input() to perform I/O task in Python. Also, you will learn to import modules and use them in your program.

### Output

In [122]:
print("This is testing of Print Statement ")

This is testing of Print Statement

In [123]:
a = 5

print("A value is = ", a)

A value is =  5

In [126]:
print(1,2,3,4)
print(1,2,3,4, sep='*')
print(1,2,3,4,5, sep='*', end='&')

1 2 3 4
1*2*3*4
1*2*3*4*5&

### Output Formating

In [127]:
x = 10
y = 20

print("This value of x is {} amd value of y is {}" .format(x,y))

This value of x is 10 amd value of y is 20

In [128]:
print("I love {0} and {1}" .format('bread', 'butter'))

print("I love {1} and {0}" .format('bread', 'butter'))

I love bread and butter
I love butter and bread

In [129]:
print("Hello {name}, {greeting}" .format(greeting = "Morning", name="Mukund"))

Hello Mukund, Morning

In [131]:
x = 12.345334

print("The value of x is %3.2f" %x)

print("The value of x is %3.4f" %x)

The value of x is 12.35
The value of x is 12.3453

### Input

In [133]:
num = input("Please enter a number: ")
print("Entered number is: ", num)

Please enter a number: 34
Entered number is:  34

In [136]:
num = int(input("Please enter a number: "))
print("Entered integer number is: ", num)

Please enter a number: 3.4

ValueError: invalid literal for int() with base 10: '3.4'

In [137]:
num = int(input("Please enter a number: "))
print("Entered integer number is: ", num)

Please enter a number: 34
Entered integer number is:  34

In [138]:
num = float(input("Please enter a number: "))
print("Entered Float number is: ", num)

Please enter a number: 3
Entered Float number is:  3.0

In [139]:
num = float(input("Please enter a number: "))
print("Entered Float number is: ", num)

Please enter a number: 34.5
Entered Float number is:  34.5

### Import

In [140]:
import math

In [141]:
print(math.pi)

3.141592653589793

In [142]:
from math import pi

In [143]:
pi

3.141592653589793

In [144]:
import sys

In [145]:
sys.path

['/Users/mukundpandey/Personal/Study/Python/Practice_For_Interview/Python_Final_Practice/Introduction',
 '/opt/anaconda3/lib/python38.zip',
 '/opt/anaconda3/lib/python3.8',
 '/opt/anaconda3/lib/python3.8/lib-dynload',
 '',
 '/Users/mukundpandey/.local/lib/python3.8/site-packages',
 '/opt/anaconda3/lib/python3.8/site-packages',
 '/opt/anaconda3/lib/python3.8/site-packages/aeosa',
 '/opt/anaconda3/lib/python3.8/site-packages/IPython/extensions',
 '/Users/mukundpandey/.ipython']

## Operators

- Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.

### Arithmetic operators

In [1]:
x = 2
y = 4

In [2]:
# Add two operands or unary plus

x+y+2

8

In [9]:
# Subtract right operand from the left or unary minus

x - y - 2

-4

In [10]:
# Multiply two operands

x*y

8

In [16]:
# Divide left operand by the right one (always results into float)

y / x

2.0

In [15]:
# Modulus - remainder of the division of left operand by the right

y % x

0

In [17]:
# Floor division - division that results into whole number adjusted 
# to the left in the number line

y // x

2

In [18]:
# Exponent - left operand raised to the power of right

x ** y

16

### Comparison Operators

In [19]:
# Greater than - True if left operand is greater than the right

x > y

False

In [21]:
# Less than - True if left operand is less than the right

x < y

True

In [25]:
# Equal to - True if both operands are equal

x == y

False

In [26]:
# Not equal to - True if operands are not equal

x != y

True

In [28]:
# Greater than or equal to - True if left operand is 
# greater than or equal to the right.

x >= y

False

In [29]:
# Less than or equal to - True if left operand is less than or 
# equal to the right.

x <= y

True

### Logical Operators

In [31]:
x = True
y = False

In [32]:
# True if both the operands are true

x and y

False

In [33]:
# True if either of the operands is true

x or y

True

In [37]:
# True if operand is false (complements the operand)

not x

False

In [38]:
not y

True

### Bitwise Operator

In [41]:
x = 10
y = 4

In [42]:
# Bitwise AND

x & y

0

In [43]:
# Bitwise OR

x | y

14

In [44]:
# Bitwise NOT

~x

-11

In [45]:
# Bitwise XOR

x ^ y

14

In [46]:
# Bitwise right shift

x >> 2

2

In [47]:
# Bitwise left shift

x << 2

40

### Assignment Operators

In [52]:
x = 25

In [53]:
x = 5

In [62]:
x += 5
x = x + 5

In [63]:
x -= 5
x = x - 5

In [64]:
x *= 5
x = x * 5

In [65]:
x /= 5
x = x / 5

In [66]:
x %= 5
x = x % 5

In [67]:
x //= 5
x = x // 5

In [68]:
x **= 5
x = x ** 5

In [ ]:
x &= 5
x = x & 5

In [ ]:
x |= 5
x = x | 5

In [ ]:
x ^= 5
x = x ^ 5

In [ ]:
x >>= 5
x = x >> 5

In [ ]:
x <<= 5
x = x << 5

### Special Operators

#### Identity Operators

In [71]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

In [72]:
# True if the operands are identical (refer to the same object)

x1 is y1

True

In [75]:
x2 is y2

True

In [76]:
#  x3 and y3 are lists. They are equal but not identical. 
# It is because the interpreter locates them separately in memory 
# although they are equal.
x3 is y3

False

In [73]:
# True if the operands are not identical (do not refer to the same object)

x1 is not y1

False

In [77]:
x2 is not y2

False

In [78]:
x3 is not y3

True

#### Membership Operators

In [79]:
x = 'Hellow World'
y = {1:'a', 2:'b'}

In [81]:
# True if value/variable is found in the sequence

"H" in x

True

In [83]:
1 in y

True

In [85]:
# 1 is key and 'a' is the value in dictionary y. 
# Hence, 'a' in y returns False.
"a" in y

False

In [82]:
# True if value/variable is not found in the sequence

'hello' not in x

True

In [87]:
'b' not in y

True

## Namespace and Scope

- Mapping from names to objects, and scope of a variable. 

- For example, when we do the assignment a = 2, 2 is an object stored in memory and a is the name we associate it with. We can get the address (in RAM) of some object through the built-in function id(). 

- Modules can have various functions and classes. A local namespace is created when a function is called, which has all the names defined in it. Similar is the case with class. 

- At any given moment, there are at least three nested scopes.

    - Scope of the current function which has local names
    - Scope of the module which has global names
    - Outermost scope which has built-in names

In [89]:
a = 2
print(id(2))
print(id(a))

4521630080
4521630080

In [93]:
# Note: You may get different values for the id

a = 2
print('id(a) =', id(a))

a = a+1
print('id(a) =', id(a))

print('id(3) =', id(3))

b = 2
print('id(b) =', id(b))
print('id(2) =', id(2))

id(a) = 4521630080
id(a) = 4521630112
id(3) = 4521630112
id(b) = 4521630080
id(2) = 4521630080

In [ ]:
def outer_function():
    b = 20
    def inner_function():
        c = 30
        
a = 10

- Here, the variable a is in the global namespace. Variable b is in the local namespace of outer_function() and c is in the nested local namespace of inner_function().

- When we are in inner_function(), c is local to us, b is nonlocal and a is global. We can read as well as assign new values to c but can only read b and a from inner_function().

- If we try to assign as a value to b, a new variable b is created in the local namespace which is different than the nonlocal b. The same thing happens when we assign a value to a.

- However, if we declare a as global, all the reference and assignment go to the global a. Similarly, if we want to rebind the variable b, it must be declared as nonlocal. The following example will further clarify this.

- In below program, three different variables a are defined in separate namespaces and accessed accordingly.

In [94]:
def outer_function():
    a = 20
    
    def inner_function():
        a = 30
        print('a =', a)
        
    inner_function()
    print('a =', a)
    
a = 10
outer_function()
print('a =', a)

a = 30
a = 20
a = 10

In [113]:
def outer_function():
    global a
    a = 20
    
    def inner_function():
        global a # this gloab will work only. 
        a = 40 # all references and assignments are to the global 
               # a due to the use of keyword global
        print('a = ', a)
        
    inner_function()
    print('a = ', a)
    
a = 10
outer_function()
print('a = ', a)

a =  40
a =  40
a =  40