# Python for Loop

- The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects. Iterating over a sequence is called traversal.

In [ ]:
for val in sequence:
    Body of for

- Here, val is the variable that takes the value of the item inside the sequence on each iteration.

- Loop continues until we reach the last item in the sequence. The body of for loop is separated from the rest of the code using indentation.

### Example:-

In [5]:
# Program to find the sum of all numbers stored in a list. 

# List of numbers = 

num = [1,2,3,4,5,6,7,8,9,10]

# Variable to store the sum 

sum = 0

# iterate over the list 

for val in num:
    print("Value is: ", val)
    sum = sum + val
    print(sum)
print()
print("The sum is: ", sum)

Value is:  1
1
Value is:  2
3
Value is:  3
6
Value is:  4
10
Value is:  5
15
Value is:  6
21
Value is:  7
28
Value is:  8
36
Value is:  9
45
Value is:  10
55

The sum is:  55

In [78]:
words = ['cat', 'windows', 'defenstrate']

for w in words:
    print(w, len(w))

cat 3
windows 7
defenstrate 11

### Range() Function

- We can generate a sequence of numbers using range() function. range(10) will generate numbers from 0 to 9 (10 numbers).

In [6]:
print(range(10))

range(0, 10)

In [7]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
print(list(range(2,7)))

[2, 3, 4, 5, 6]

In [9]:
print(list(range(2,10,2)))

[2, 4, 6, 8]

### Using Range() Function in For Loop

#### Iterate Through a list []

In [11]:
# Program to iterate through a list using indexing. 

genre = ['pop', 'rock', 'jazz']

# iterate over the list using index. 

for i in range(len(genre)):
    print("I like", genre[i])

I like pop
I like rock
I like jazz

In [25]:
# Python Code for iterate over a list. 

lt = [1,2,3,4,5,6]

for item in lt:
    print(item)

1
2
3
4
5
6

In [26]:
thislist = [1,2,3,4,5,6,7]

for x in range(0, len(thislist)):
    print(thislist[x])

1
2
3
4
5
6
7

In [79]:
a = ['Mary', 'had', 'a', 'little', 'lamb']

for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

#### Iterate Through a Tuple ()

In [13]:
# Program to iterate through a tuple using indexing. 

genre = ('pop', 'rock', 'jazz')

# iterate over the list using index. 

for i in range(len(genre)):
    print("I like", genre[i])

I like pop
I like rock
I like jazz

In [37]:
genre = ('pop', 'rock', 'jazz')

for i in genre:
    print('I like', i)

I like pop
I like rock
I like jazz

In [34]:
t = (10,20,30,40)

for i in t:
    print(t.index(i), i)

0 10
1 20
2 30
3 40

In [35]:
t = (10,20,30,40)

for i in range(len(t)):
    print(i, t[i])

0 10
1 20
2 30
3 40

In [40]:
for i in enumerate(t):
    print (i)

(0, 10)
(1, 20)
(2, 30)
(3, 40)

#### Iterate Through a Set {}

In [14]:
# Program to iterate through a set using indexing. 

genre = {'pop', 'rock', 'jazz'}

# iterate over the list using index. 

for i in range(len(genre)):
    print("I like", genre[i])

TypeError: 'set' object is not subscriptable

In [45]:
# Solution for above is, we need to conver it into list and then use it. 

genre = list({'pop', 'rock', 'jazz'})

for i in range(len(genre)):
    print("I like", genre[i])

I like jazz
I like rock
I like pop

In [49]:
# Using enumerate type 

genre = {'pop', 'rock', 'jazz'}

for i in enumerate(genre):
    print(i)

(0, 'jazz')
(1, 'rock')
(2, 'pop')

In [58]:
#  Using negative index by converting to list type

genre = list({'pop', 'rock', 'jazz'})

for i in range(-len(genre),0):
    print(genre[i], end=' ')

jazz rock pop

In [61]:
set_inp = list({'t','u','t','o','r','i','a','l','s','p','o','i','n','t'})

# Iterate over the set

for value in range(1,len(set_inp)):
   print(set_inp[value-1:value], end='')
print(set_inp[-1:])

['n']['s']['i']['a']['l']['p']['r']['u']['o']['t']

In [59]:
genre = {'pop', 'rock', 'jazz'}

for i in genre:
    print("I like", i)

I like jazz
I like rock
I like pop

#### Iterate Through a Dictionary()

In [15]:
# Program to iterate through a dictionary using for loop.

dictionary = {52:'E', 126:'A', 134:'B', 188:'C', 189:'D'}

for key, value in dictionary.items():
    print(key)
    print(value)

52
E
126
A
134
B
188
C
189
D

In [18]:
#  Access both key and value using items()

dictionary = {102:'E', 126:'A', 134:'B', 188:'C', 189:'D'}

for key, value in dictionary.items():
    print(key,value)

102 E
126 A
134 B
188 C
189 D

In [19]:
#  Access both key and value without using items()

dictionary = {102:'E', 126:'A', 134:'B', 188:'C', 189:'D'}

for key in dictionary:
    print(key, dictionary[key])

102 E
126 A
134 B
188 C
189 D

In [24]:
#  Return keys or values explicitly

dictionary = {102:'E', 126:'A', 134:'B', 188:'C', 189:'D'}

for key in dictionary.keys():
    print(key)
    
for value in dictionary.values():
    print(value)

102
126
134
188
189
E
A
B
C
D

In [30]:
dictionary = {102:'E', 126:'A', 134:'B', 188:'C', 189:'D'}

for item in dictionary.items():
    print(item)

(102, 'E')
(126, 'A')
(134, 'B')
(188, 'C')
(189, 'D')

#### Iterate Through a String

In [62]:
for i in "Hello":
    print(i)

H
e
l
l
o

In [63]:
for i in "Hello":
    print(i, end='')

Hello

In [64]:
word = 'test'

for letter in word:
    print(letter)

t
e
s
t

In [65]:
word = 'test'

for letter in word:
    print(letter, end='')

test

In [70]:
# Using simple iteration and range to iterate over characters of a string

string = 'Mukund'

# Iterate over the string
for element in string:
    print(element, end='')
    
print("\n")

string_1 = 'Pandey'

# Iterate over index
for element in range(0, len(string_1)):
    print(string_1[element])

Mukund

P
a
n
d
e
y

In [74]:
# Using enumerate() function to iterate over characters of a string

string_name = 'Mukund'

for i, v in enumerate(string_name):

    print(v)

M
u
k
u
n
d

In [77]:
# Iterate in reverse order

string_name = 'Mukund'

# slicing the string in reverse fashion 

for element in string_name[::-1]:
    print(element, end='')
    
print("\n")

string_name = 'Pandey'

# Getting length of string

leng = len(string_name)

# Using reverse function 

for element in reversed(range(0,leng)):
    print(string_name[element])

dnukuM

y
e
d
n
a
P

### for loop with else

- A for loop can have an optional else block as well. The else part is executed if the items in the sequence used in **for loop exhausts**.

- The break keyword can be used to stop a for loop. In such cases, the else part is ignored.

- Hence, a for loop's else part runs if no break occurs.

In [81]:
digit = [0,1,5]

for i in digit:
    print(i)
    
else:
    print('No items left')

0
1
5
No items left

- This for...else statement can be used with the break keyword to run the else block only when the break keyword was not executed. Let's take an example:

In [87]:
# program to display student marks from record 

student_name = input("Please enter name of student you wish to know: ")

marks = {'Prateek': 90, 'Shahank': 55, 'Sharv': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print("No entry with that name found")

Please enter name of student you wish to know.dsds
No entry with that name found

**The else block just after for/while is executed only when the loop is NOT terminated by a break statement.**

In [86]:
for i in range(1,4):
    print(i)
    
else: # Executed Because no break in for
    print("No Break")

1
2
3
No Break

In [94]:
for i in range(1,4):
    print(i)
    break
    
else: # Will not Execute Because break 
    print("No Break")

1

- Such type of else is useful only if there is an if condition present inside the loop which somehow depends on the loop variable.

In [99]:
# Program to check if array consist of even number 

def contains_even_number(l):
    for ele in l:
        if ele % 2 == 0:
            print ("list contains an even number")
            break
  
    # This else executes only if break is NEVER
    # reached and loop terminated after all iterations.
    else:     
        print ("list does not contain an even number")
  
# Driver code

print ("For List 1:")
contains_even_number([1, 9, 8])
print (" \nFor List 2:")
contains_even_number([1, 3, 5])

For List 1:
list contains an even number

For List 2:
list does not contain an even number

- In the above example, the else statement will only be executed if no element of the array is even, i.e. if statement has not been executed for any iteration. Therefore for the array [1, 9, 8] the if is executed in third iteration of the loop and hence the else present after the for loop is ignored. In case of array [1, 3, 5] the if is not executed for any iteration and hence the else after the loop is executed.

### Nested for loop 

- A nested loop is a loop inside a loop.

- The "inner loop" will be executed one time for each iteration of the "outer loop".

- The program first encounters the outer loop, executing its first iteration. 

- This first iteration triggers the inner, nested loop, which then runs to completion. 

- Then the program returns back to the top of the outer loop, completing the second iteration and again triggering the nested loop. 

- Again, the nested loop runs to completion, and the program returns back to the top of the outer loop until the sequence is complete or a break or other statement disrupts the process.

**Nested loops are useful when for each pass through the outer loop, you need to repeat some action on the data in the outer loop. For example, you read a file line by line and for each line you must count how many times the word “the” is found. The outer loop would read the lines and the inner loop would search each line for “the” by looping through the words in the line.**

In [ ]:
for [first iterating variable] in [outer loop]: # Outer loop
    [do something]  # Optional
    for [second iterating variable] in [nested loop]:   # Nested loop
        [do something]

In [101]:
adj = ["red", "big", "tasty"]

fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [107]:
num_list = [1,2,3]
alpha_list = ['a','b','c']

for number in num_list:
    print(number)
    for letter in alpha_list:
        print(letter)

1
a
b
c
2
a
b
c
3
a
b
c

In [108]:
for i in range(1,6):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

#### Excercise

**Print all elements of a list using for loop.**

In [110]:
ls = [1,2,3,4,5]

for i in ls:
    print(i)

1
2
3
4
5

**Take inputs from user to make a list. Again take one input from user and search it in the list and delete that element, if found. Iterate over list using for loop.**

In [32]:
a = []
s = int(input("Enter the size of list: "))

print()

for i in range(0,s):
    ele = int(input("Enter elements of list: "))
    a.append(ele)

print()
print("Your original list:",a)
print()
d = int(input("Please enter a number you want to delete: "))

if d in a:
    print("we will delete", d)
    print()
    a.remove(d)
    print("Your number {} is deleted from list and new list is {}" .format(d,a))
    
else:
    print("Number not in list.")

Enter the size of list: 3

Enter elements of list: 1
Enter elements of list: 2
Enter elements of list: 3

Your original list: [1, 2, 3]

Please enter a number you want to delete: 2
we will delete 2

Your number 2 is deleted from list and new list is [1, 3]

**Print multiplication table of 14 from a list in which multiplication table of 12 is stored.**

In [76]:
print("Multiplication table of 12")
print()
a = []
for i in range(1,11):
    print('12 *', i, "=", 12*i)
    a.append(12*i)
print()
print("Multiplication table of 12:", a)

print()

b = []
for i in range(1,11):
    c = (12*(i)) + i*2
    b.append(c)
print("Multiplication table of 14:", b)

Multiplication table of 12

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

Multiplication table of 12: [12, 24, 36, 48, 60, 72, 84, 96, 108, 120]

Multiplication table of 14: [14, 28, 42, 56, 70, 84, 98, 112, 126, 140]

**You are given with a list of integer elements. Make a new list which will store square of elements of previous list.**

In [82]:
a = [2,3,4,5,6]

b = []

for i in range(len(a)):
    #c = a[i] * a[i]
    b.append(a[i] * a[i])
    
print("Original list is: ", a)
print()
print("Square root of original list :", b)

Original list is:  [2, 3, 4, 5, 6]

Square root of original list : [4, 9, 16, 25, 36]

**Using range(1,101), make two list, one containing all even numbers and other containing all odd numbers.**

In [1]:
even = []
odd = []

for i in range(1,101,2):
    odd.append(i)
print(odd, end="")

print("\n")

for j in range(0,101,2):
    even.append(j)
print(even)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

**From the two list obtained in previous question, make new lists, containing only numbers which are divisible by 4, 6, 8, 10, 3, 5, 7 and 9 in separate lists.**

In [12]:
new_list = even + odd

print("Before divisible even+odd list: ", new_list)

div = [4, 6, 8, 10, 3, 5, 7, 9]

final_list = []

for i in new_list:
    for j in range(len(div)):
        if i % div[j] == 0:
            if i in final_list:
                None
            else:
                final_list.append(i)
            
    
print("\n")
        
print("After divisible by list provided: ", final_list)

Before divisible even+odd list:  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]


After divisible by list provided:  [0, 4, 6, 8, 10, 12, 14, 16, 18, 20, 24, 28, 30, 32, 36, 40, 42, 44, 48, 50, 52, 54, 56, 60, 64, 66, 68, 70, 72, 76, 78, 80, 84, 88, 90, 92, 96, 98, 100, 3, 5, 7, 9, 15, 21, 25, 27, 33, 35, 39, 45, 49, 51, 55, 57, 63, 65, 69, 75, 77, 81, 85, 87, 91, 93, 95, 99]

In [ ]:
  # This is just reference to above code - how it was designed.  
    
    if i % 4 == 0:
        if i in final_list:
            None
        else:
            final_list.append(i)

**From a list containing ints, strings and floats, make three lists to store them separately.**

In [29]:
all_list = [4,5,6,7,"Mukund", "Priyanka", "Suhani", 4.3,2.3,5.6]

int_list = []
string_list = []
float_list = []

for i in all_list:
    if type(i) == int:
        int_list.append(i)
        
for i in all_list:
    if type(i) == str:
        string_list.append(i)
        
for i in all_list:
    if type(i) == float:
        float_list.append(i)
        
        
print(int_list)
print(string_list)
print(float_list)

[4, 5, 6, 7]
['Mukund', 'Priyanka', 'Suhani']
[4.3, 2.3, 5.6]

**Using range(1,101), make a list containing only prime numbers.**

In [42]:
num = int(input("Please enter number between 1,101: "))

# define a flag variable

flag = False

# prime numbers are greater than 1

if num > 1:
    # Check for factors
    for i in range(2,num):
        if(num % i )== 0:
            # if factor is found, set flag to true
            flag = True
            #break out of loop
            break
            
# Check if Flag is true

if flag:
    print(num, "is not a prime number")
    
else:
    print(num, "is a prime number")

Please enter number between 1,101: 55
55 is not a prime number

**Write a program to print first 10 even numbers in reverse order.**

In [60]:
rev = []
for i in range(0,11,2):
    rev.append(i)
print("Before reverse order:", rev)

reverse = rev[::-1]

print("\n")

print("After reverse order:",reverse)

Before reverse order: [0, 2, 4, 6, 8, 10]


After reverse order: [10, 8, 6, 4, 2, 0]

**Write a program to print table of a number accepted from user.**

In [66]:
num = int(input("Please enter number of table you want to create: "))
print()
for i in range(1,11):
    print(num, '*', i, "=", num*i)

Please enter number of table you want to create: 23

23 * 1 = 23
23 * 2 = 46
23 * 3 = 69
23 * 4 = 92
23 * 5 = 115
23 * 6 = 138
23 * 7 = 161
23 * 8 = 184
23 * 9 = 207
23 * 10 = 230

**Write a program to find the sum of the digits of a number accepted from user**

In [108]:
num = input("Please enter digits to be summed: ")

sum = 0
for i in num:
    sum = sum + int(i)
    
print("Sum of digits:", sum)

Please enter digits to be summed: 12121213425323463232122
Sum of digits: 57

**Write a program to display sum of odd numbers and even numbers that fall between 12 and 37(including both numbers)**

**Write a program to display all the numbers which are divisible by 11 but not by 2 between 100 and 500.**

**Write a program to accept decimal number and display its binary number.**

**Accept a number and check whether it is palindrome or not.**

**Write a for loop which print "Hello!, " plus each name in the list. i.e.: "Hello!, Sam"**

**Using a for loop and .append() method append each item with a Dr. prefix to the lst.**

In [ ]:
lst1=["Phil", "Oz", "Seuss", "Dre"]
lst2=[]
#Type your answer here.




print(lst2)

**Write a for loop using an if statement, that appends each number to the new list if it's positive.**

In [ ]:
lst1=[111, 32, -9, -45, -17, 9, 85, -10]
lst2=[]
#Type your answer here.



print(lst2)

**Write a for loop which appends the type of each element in the first list to the second list.**

In [ ]:
lst1=[3.14, 66, "Teddy Bear", True, [], {}]
lst2=[]
#Type your answer here.



print(lst2)